.main_image_div {
    height: 250px;
    width: 100%;
    position: relative;
}

.main_image_div img{
    height: 99%;
    width: 99%;
}
.des{
    position: absolute; 
    top: 150px; 
    left: 0; 
    width: 100%;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  
}