.containerdiv{
    display: flex;
    width: 70%;
    margin: auto;
}
.left{
    width: 25%;
    height: 3000px;
    margin: 0;
    overflow: hidden;
}
.left img{
    height: 50px;
    width: 70px;
}
.left h2{
    font-size: 15px;
    margin: 0;
}
.right{
    width: 75%;
}
.heading{
    background-color: rgb(247, 243, 243);
    height: 25px;
    width: 97%;
    margin: auto;
    border-radius: 5px;
}