.mainvav{
    
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

.upmain{
    padding-top: 10px;
    font-size: 10px;
   
}

.uplink{
    margin:11px;
    text-decoration:none;
    color: rgb(159, 160, 160)
}

.icon{
    height: 25px;
    width: 25px;
    margin: 0 8px;
}