.NewsDisplay{
    display:flex;
    /* border:1px solid red; */
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.news1{
    width: 95%;
    height: 1970px;
    /* border:1px solid red; */
    overflow: hidden;
    margin-bottom: 20px;
    /* border:1px solid pink; */
    
}
.NewsDisplay1{
    width: 35%;
}

.NewsDisplay2{
    width:35%;
}
.mamaEarth{
   margin: auto;
    width: 70%;
    margin-top:20px;
    height: 200px;
}
.IndiaHeadDisplay{
    text-align:left;
    margin-left: 160px;
    font-size:32px;
    font-weight:900;
    font-family :Roboto, sans-serif
}